node_modules

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# dotenv
.env*
!.env.example


# flatten contracts
flatten/*.sol

# foundry
/target
out/
out.json
cache_forge

# temp files
.DS_Store